.footer {
  width: 100%;
  padding-top: 64px;
  display: flex;
  justify-content: space-evenly;
  background-color: #1f1f24;
}

.footer-banner {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer-logo {
  display: flex;
  padding-bottom: 27px;
  grid-column-gap: 16px;
}

.footer-logo-text {
  width: 54px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 143.55%;
}

.copyright {
  color: #FFFFFF;
  opacity: 0.3;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.footer-span {
  list-style-type: none;
  color: #FFFFFF;
  text-transform: capitalize;
  text-align: start;
  padding-bottom: 16px;
}     

.footer-input-container {
  max-width: 221px;
  height: 40px;
  display: flex;
}

.footer-input {
  width: 221px;
  height: 40px;
  float: left;
  border: none;
  padding-left: 13px;
  outline-style: none;
}

.footer-btn {
  background: #EB5757;
  width: 80px;
  height: 40px;
  border: none;
  outline-style: none;
  color: #FFFFFF;
}

.footer-right-span {
  padding-bottom: 16px;
  color: #FFFFFF;
}

.footer-subscribe {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom:12px;
}

  .copyright-div {
  display: flex;
  flex-direction: column;
  }

  .footer-final {
    display: none;
  }

  .logofootersmall {
    display: none;
  }

@Media only screen and (max-width:768px) {
    .footer {
      width: 100%;
      padding-top: 24px;
      display: flex;
      flex-direction: column;
    }

    .footer-logo>svg {
      padding-left: 16px;
    }

    .footer-banner-copy {
      display: flex;
      gap: 28px;
    }

    .footer-banner{
      line-height: 32px;
      padding-left: 16px;
    }

    .footer-logo-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 143.55%;
    }

    .footer-input {
      width: unset;
      border: none;
      outline-style: none;
    }

    .footer-final {
      background: #A6A2B1;
      width: 100%; 
      height: 80px;
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

    .footer-input-block {
      display: flex;
      
    }

    .footer-final-text {
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #0085FF;

    }

    .footer-final-text2 {
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }

    .logofootersmall {
      display: block;
      padding-left: 16px;
    }

    .logofooter {
      display: none;
    }


  }