.banner-feedback-wrapper {
    display: flex;
    width: 100%;
}


.feedback-container {
    display: flex;
    flex-direction: column;
}

.feedback-title {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}

.feedback-title :nth-child(2) {
    padding: 0 31px 0 16px;
}

.feedback-title>span {
    font-size: 32px;
    color: #A9A9B9;
}

.feedback-title :nth-child(1) {
    font-size: 32px;
    color: #1F1F24;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
}


.border {
    height: 1px;
    width: 100%;
    background: #202057;
    margin-top: 25px;
    background: #E3E3EC;
    margin-right: 20px;
}

.bannerImg {
    max-width: 374px;
    max-height: 210px;
}

.bannerImg-div {
    position: relative;
}
.bannerImg-div>svg {
    position: absolute;
    left: 45%;
    top: 14%;
}

.camera-text {
    margin-top: 16px;
}


.each-feedback {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.feedback-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #DDDEEB;
    padding-bottom: 24px;
}

.banner-feedback-name {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
}

.banner-feedback-date {
    margin-top: 5px;
}

.info-container {
    display: flex;
    width: 100%;
    margin-top: 17px;
}

.info-name {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.info-name :nth-child(2) {
    color: #A9A9B9;
}

.info-rate {
    display: flex;
    width: 100%;
    padding-left: 6px;
    padding-top: 17px;
}

.info-rate :nth-child(1) {
    background: black;
    color: white;
    min-width: 35px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-rate-copy-box {
    display: none;
}

.camera-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.info-rate>div {
    padding-right: 20px;
    padding-left: 32px;
}

.more-feed {
    display: flex;
    justify-content: flex-end;
    padding: 40px 24px 48px 0;
    color: #0085FF;
}

.feedback-rate-num {
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
}

.feedback-rate-div {
    display: none;
}




@media only screen and (max-width: 1150px) {

    .bannerImg-div {
      display: none;   
    }

}


@media only screen and (max-width: 768px) {

    .bannerImg-div {
      display: none;   
    }

    .border {
        display: none;
    }

    .feedback-title {
        justify-content: unset;
        padding-top: 40px;
    }

    .feedback-title>span {
        font-size: 20px;
        color: #A9A9B9;
    }

    .info-rate :nth-child(1) {
        display: none;
    }

    .banner-feedback-date {
        margin-top: 4px;
    }

    .info-rate-copy {
        background: black;
        color: white;
        min-width: 35px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-rate-copy-box {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-left: 40px;
        align-items: center;
    }

    .more-feed {
        justify-content: center;
        padding: 24px 0 24px 0;
    }

    .feedback-rate-div {
        display: flex;
        gap: 16px;
        padding-top: 16px;
    }
    
    .feedback-stars-container {
        display: flex;
        align-items: center;
    }
    
    .feedback-stars-container {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .info-rate {
        padding: 0;
    }

    .info-rate>div {
        padding: 16px 0;
    }

    .each-feedback {
        width: 100%;
        margin-top: 15px;
    }

    .each-feedback :nth-child(3) {
        display: none;    
    }

}
