  .main-content {
    width: 100%;
    display: block;
  }

  .main-title {
    width: 100%;
    display: flex;
    padding-top: 40px;
    gap: 24px;
  }

  .content-left {
    width: 772px;
  }

  .restaurant-name {
    width: 100%;
  }

  .restaurant-name span {
    font-weight: 900;
    font-size: 48px;
  }

  .second-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
  }

  .second-tlt-inner {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 16px;
  }

  .div-56views {
    color: #0085FF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  .second-tlt-95 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 25px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.55%;
  }

  .stars-container {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .stars-container span:last-child svg path  {
    fill: #E3E3EC;
 }

  .second-tlt-inner-icons {
    display: flex;
    justify-content: space-between;
  }

  .second-title-inner-divs {
    display: flex;
    gap: 12px;
  }

  .social-icon {
    display: flex;
    background: #EB5757;
    padding: 0 7px;
    width: 56px;height: 24px;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
  }

  .social-inner-div {
    display: flex;
    align-items: center;
   
  }

  .social-inner-div-num {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  .social-icon-stroke {
    width: 1px;
    height: 16px;
    background: #FFFFFF;
    opacity: 0.3;
  }

  .big-image {
    width: 100%;
    height: 434px
  }

  .small-images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .small-images-playIcon {
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #FFFFFF;
    left: 9%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .small-images-playIcon>svg {
   padding-left: 5px;
  }

  .fetch-img {
    width: calc(100%/4 - 3px);
    height: 106.48px;
  }

  .img-wrapper {
    padding-top: 32px;
  }

  .social-love-icon {
    display: none;
  }


@media only screen and (max-width: 1440px) {

 

    .main-title {
      display: flex;
      width: 100%;
      margin: 0 auto;
    }

    .content-left {
      width: 100%;
    }
}

@media only screen and (max-width: 1150px) {

    .main-title {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
    }

    .content-left {
      width: 100%;
    }


  
}

@media only screen and (max-width: 768px) {

    .main-title {
      padding-top: 24px;
    }

    .content-left {
      width: 100%;
    }

    .second-title {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
    }

    .restaurant-name>span {
      font-size: 26px;
    }

    .restaurant-name {
      min-width: 320px;  
    }

    .second-tlt-inner-icons {
      margin-top: 16px;
      }

    .img-wrapper {
      padding-top: 24px;
    }

    .big-image {
      display: none;
    }

    .social-love-icon {
      display: block;
    }

    .social-icon {
      padding: 0;
      justify-content: space-evenly;
    }

    .small-images {
      justify-content: unset;
      gap: 16px;
      overflow:scroll;

   }

   .small-images-playIcon {
    display: none;
   }

    .fetch-img {
      height: 200px;
      width: 272px;
   }
}