
    .slider-container>img {
        height: 210px;
        width: 100%;
    }

    .slick-slider {
        position: relative;
    }

    .slick-block {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .slick-slide>div {
        margin: 0 10px;
      }

      .slick-list {
        margin: 0 -10px !important;
      }

    
   
   
    .SliderPrevArrow {
        position: absolute;
        left: -31px;
        top: 105px;
    }

    .SliderNextArrow {
        position: absolute;
        right: -31px;
        top: 105px;

}


@media only screen and (max-width: 768px) {

    .slick-block {
        display: none;
    }
}