    .bali-img {
      margin-top: -67px;
      width: 100%;
      height: 800px;
    }

    .bali-img-small {
      position: relative;
      z-index: 5;
      top: -67px;
      width: 100%;
      height: 528px;
      display: none;
    }

    .homepage-title-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .homepage-title-inner {
      height: 56px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      border-right: 1px solid  rgba(255,255,255, .2 );
    }

    .homepage-title-inner2 {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .homepage-title-span {
      color:  #FFFFFF;
      font-size: 16px;
      line-height: 19px;
    }

    .homepage-title-inner-last {
      width: 68px;
      background: #EB5757;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      
    .homepage-header-titles {
      display: flex;
      height: 104px;
      background: rgba(31, 31, 36, .7);
      position: absolute;
      width: -webkit-fill-available;
      bottom: 3px;
      z-index: 1;
      bottom: 3px;
      }

      .homepage-title-span-second {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #A9A9B9;      
      }

      .homepage-stroke {
        height: 1px;
        width: 772px;
        border: 1px solid #E3E3EC;
        margin-left: 140px;
        margin-right: 47px;
        margin-top: 42px;
      }

      @media only screen and (max-width: 768px) {

        .logo-wrapper-homepage {
          height: unset;
          border: none;
        }
    
        .logo-wrapper-homepage>svg {
          stroke: unset; 
          width: 46px;
          height: 40px;
          margin-top: 6.89px;
        }
    
        .bali-img {
          display: none;
        }
    
        .bali-img-small {
          display: unset;
        }

        .homepage-header-titles {
          height: 64px;
          bottom: 70px;
          z-index: 9999;
          overflow: scroll;
        }

        .homepage-title-container {
          overflow: scroll;
        }

    
        .homepage-stroke {
          display: none;
        }

        .homepage-title-inner-last {
          display: none;
        }

        .homepage-title-inner {
          min-width: 164px;
        }
      }

    

  /* 

  .bali-img-small {
    position: relative;
    z-index: 5;
    top: -67px;
    width: 100%;
    height: 528px;
    display: none;
  }


    .homepage-title-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .homepage-title-inner {
      height: 56px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      border-right: 1px solid  rgba(255,255,255, .2 );
    }

    .homepage-title-inner2 {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .homepage-title-span {
      color:  #FFFFFF;
      font-size: 16px;
      line-height: 19px;
    }

    .homepage-title-span-second {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: #A9A9B9;      
    }

    .homepage-title-inner-last {
      width: 68px;
      background: #EB5757;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    

    .homepage-stroke {
      height: 1px;
      width: 772px;
      border: 1px solid #E3E3EC;
      margin-left: 140px;
      margin-right: 47px;
      margin-top: 42px;
    }

    .homepage-slide-title-All {
      min-width: 67px;
      height: 43px;
      border: 2px solid #0085FF;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 14px;
    }

    .homepage-slide-title-All>span {
      color: #0085FF;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }

  @media only screen and (max-width: 1253px) {

    .nav-block-homepage {
     display: none;
    } 
  
   }

   @media only screen and (max-width: 768px) {

    .logo-wrapper-homepage {
      height: unset;
      border: none;
    }

    .logo-wrapper-homepage>svg {
      stroke: unset; 
      width: 46px;
      height: 40px;
      margin-top: 6.89px;
    }

    .bali-img {
      display: none;
    }

    .bali-img-small {
      display: unset;
      position: relative;
      z-index: 1;
      animation: animatedmodel;  
      animation-duration: 0.2s;
    }

    .homepage-title-container {
      overflow: scroll;
    }

    .homepage-title-inner-last {
      display: none;
    }

    .homepage-header-titles {
      height: 64px;
      top: -134px;
    }

    .homepage-title-inner {
      min-width: 164px;
    }

    .homepage-stroke {
      display: none;
    }

}  */


