.main-content {
  width: 100%;
  display: block;
}
.main-title {
  width: 100%;
  display: flex;
}
.content-left {
  width: 772px;
}
.restaurant-name {
  width: 100%;
}
.restaurant-name span {
  font-weight: 900;
  font-size: 48px;
}
.second-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.second-tlt-inner {
  display: flex;
  height: 100%;
  align-items: center;
}
.second-tlt-inner:nth-child(2) {
  justify-content: flex-end;
}
.div-56views {
  color: #0085FF;
}
.second-tlt-95 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  background-color: black;
  color: white;
  margin-right: 16px;
}
.stars-container {
  display: flex;
  margin-right: 16px;
}
.stars {
  margin-right: 6px;
}
.stars:last-child .star-span svg {
  fill: #e3e3ec;
}
.icon-fb {
  padding: 0 12px;
}
.big-image {
  width: 100%;
  height: 434px
}
.small-images {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.fetch-img {
  width: calc(100%/4 - 3px);
  height: 106.48px;

}

@media only screen and (max-width: 1440px) {

 

  .main-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .content-left {
    width: 100%;
  }

  .big-image {
    object-fit: cover;
  }

  .small-images {
    object-fit: cover;
  }

}

@media only screen and (max-width: 768px) {

  .small-images {
    display: none;
  }

  .content-left {
    width: 100%;
  }

  .big-image {
    min-width: 272px;
    height: 200px;
  }

  .second-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 17px;
  }

  .restaurant-name>span {
    font-size: 26px;
  }
  .restaurant-name {
    min-width: 320px;  }

  .second-tlt-inner:nth-child(2) {
    justify-content: unset;
    padding-top: 16px;
  }

  .second-title {
    margin-top: 9px;
    min-width: 320px;
  }
  

}