.register-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 772px;
}

.reg-title {
    font-size: 24px;
    padding-bottom: 32px;
}

.reg-nav {
    display: flex;
    width: 100%;
    gap: 32px;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.reg-stars {
    display: flex;
}

.reg-nav-inner {
    display: flex;
}

.feed-star-div {
    display: flex;
    gap: 16px;
}

.feed-star-div-inner {
    display: flex;
    gap: 6px;
}

.input-div {
    display: flex;
    padding-bottom: 24px;
    gap: 24px; 
}

.btn-input-container {
    height: 48px;
    border: 1px solid #C8C8DB;
}

textarea {
    padding: 16px;
    border: 1px solid #C8C8DB;
}

.div-btn {
    margin-top: 32px;
}

.btn-input-container>input {
    border: none;
    outline-style: none;
    padding-left: 16px;
    display: flex;
    flex: 1;
}

.feed-div {
    width: 48px;
    border: 1px solid #C8C8DB;
    border-right: 1px solid  #C8C8DB;
    border-top: none;
    border-bottom: none;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-input-container {
    display: flex;
    width: 374px;
}

.big-input {
    max-width: 772px;
    border: none;
    padding-bottom: 32px;
}

.big-input>textarea{
    border: 1px solid #C8C8DB;
    outline-style: none;
    width: 100%;
}

.reg-btn {
    width: 174px;
    height: 50px;
    background: #EB5757;
    border: none;
    color: white;
    font-size: 16px;
}

.reg-nav-copy {
    display: none;
}

@media only screen and (max-width: 1050px) {

    .input-div {
        display: flex;
        flex-direction: column;
    }

    .btn-input-container {
        width: unset;
    }
}

@media only screen and (max-width: 768px) {
    .reg-title {
        display: flex;
        justify-content: center;
        padding: 0 0 16px 0;;
    }

    .reg-nav {
        display: none;
    }

    .your-mark {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
    }

    .reg-nav-copy {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .reg-nav-copy-stars {
        display: flex;
        gap: 6px;
    }

    .btn-input-container>input {
        width: unset;
    }

    .input-div {
       padding: 16px 0 16px 0;
       gap: 16px;
    }

    .big-input {
        padding-bottom: 16px;
    }

    .div-btn {
        padding-bottom: 56px;
        margin-top: 16px;
    }

    .reg-btn {
        width: 100%;
    }

    
}