.footer {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 106px;
  display: flex;
  justify-content: space-evenly;
  background-color: #1f1f24;
}
.footer-banner {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: flex;
  padding-bottom: 27px;
  grid-column-gap: 16px;
}
.footer-logo-text {
  width: 54px;
  color: #FFFFFF;
}
.copyright {
  color: #FFFFFF;
  opacity: 0.3;
}



.footer-span {
  list-style-type: none;
  color: #FFFFFF;
  text-transform: capitalize;
  text-align: start;
  padding-bottom: 16px;
}     

.footer-input-container {
  max-width: 221px;
  height: 40px;
  display: flex;
}

.footer-input {
  width: 221px;
  height: 40px;
  float: left;
  outline-style: none;
  border: none;
  padding-left: 13px;
}



.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EB5757;
  height: 100%;
  border: none;
  outline-style: none;
}

.footer-right-span {
  padding-bottom: 16px;
  color: #FFFFFF;
}

.footer-subscribe {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom:12px;
}