.App {
    overflow: hidden;
}

/* @font-face {
    font-family: "Lato font";
    src: url("./Fonts/lato-regular.woff2") format("woff2");
         font-weight: normal;
         font-style: normal;
  } */