  .sidebar-wrapper {
   width: 50%;
 height: 100vh;
  }

  .sidebar-container {
  display: flex;
  flex-direction: column;
  }

  .closetag:after{
  display: inline-block;
  content: "\00d7"; 
  }

  .popUp-lang {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 72px;
    height: 35px;
    border: 1px solid #E3E3EC;
  }

  .sideBar-li {
    border-bottom: 1px solid #E3E3EC;
  }

  .active-close {
    display: none;
  }